<button mat-icon-button id="add_dlg" (click)="openDialog()">
  <mat-icon style="color:green">add_circle_outline</mat-icon>
</button>

<button mat-icon-button id="edt_dlg" (click)="open_edt_Dialog()">
  <mat-icon style="color: yellow;">mode_edit_outline</mat-icon>
</button>

<button mat-icon-button id="del_dlg" (click)="open_edt_Dialog()">
  <mat-icon style="color: red;">delete_forever</mat-icon>
</button>

<button mat-icon-button id="xls_export" (click)="excelBtnOnClick()">
  <mat-icon>import_export</mat-icon>
</button>

<button mat-icon-button id="pdf_export" (click)="pdfBtnOnClick()">
  <mat-icon>picture_as_pdf</mat-icon>
</button>

<button mat-icon-button id="print_data" (click)="print_data()">
  <mat-icon>local_printshop</mat-icon>
</button>

<mat-card class="my-card mat-elevation-z8">
  <jqxGrid #myGrid [width]="getWidth()" [height]="'90%'" [source]="dataAdapter" [columns]="columns" [sortable]="true"
    [altrows]="true" [enabletooltips]="true" [editable]="false" [theme]="'ui-redmond'" [filtermode]="'excel'"
    [filterable]="true" [showtoolbar]="true" [rendertoolbar]="createButtonsContainers" [showstatusbar]="true"
    [showaggregates]="true">
  </jqxGrid>
</mat-card>