mat-card {
    max-width: 1250px;
    margin: 4em auto;
    text-align: center;
  }
  mat-form-field {
    display: block;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }